 h1 {
    color: #f5f109;
    font-family:cursive;
}
 /* *{
    border:solid;
} * */
.header{
    background-color: rgb(27, 236, 19);
    display:flex;
    justify-content: space-between;
    font-family: fantasy;
}
.grid{
    background-color: #06dbeb;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    font-family: Georgiaf;
}
.footer{
    background-color: #4909c0;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
p,h3{
   text-align: center;
   display:flex;
   justify-content: center;
}
 body{
    background-color: rgb( 10, 200, 157);
} 
